DEBUG=True

POSTGRES_DB=global_consulting
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DEFAULT_FROM_EMAIL=noreply@globalconsulting.local