POSTGRES_DB=global_consulting
POSTGRES_USER=
POSTGRES_PASSWORD=

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=globalconsulting.uz,www.globalconsulting.uz
DEBUG=False

EMAIL_HOST=email-smtp.eu-west-1.amazonaws.com
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=True
DEFAULT_FROM_EMAIL=noreply@globalconsulting.uz
