DEBUG=True

POSTGRES_DB=global_consulting
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,backend
DEFAULT_FROM_EMAIL=noreply@globalconsulting.local

GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FRONTEND_URL=http://localhost:9000
